<h1><%= @title %></h1>
<% @users.each do |user| %>

<ul class="list-unstyled">
  <li>
    <%= link_to gravatar_for(user, size: 50), user %>
    <span class="user"><%= link_to user.name, user %></span><br>
    <span class="user"><%= link_to user.email, user %></span><br>
  </li>
</ul>
<% end %>